<!-- partials/_navbar.ejs -->
<nav>
    <% if(user) { %>
    <div class="landing-header">
      <div class="logo-container">
        <div class="game-icon"></div>
        <h1>Game Tracker</h1>
      </div>
      <div class="nav-links">
        <a href="/users/profile"class="button">Profile</a>
        <a href="/games" class="button">View all Games</a>
        <a href="/auth/sign-out"class="button">Sign Out</a>
      </div>
    </div>
  
    <% } else { %>
    <div class="landing-header">
      <div class="logo-container">
        <div class="game-icon"></div>
        <h1>Game Tracker</h1>
      </div>
      <div class="auth-links">
        <a href="/auth/sign-up" class="button">Sign Up</a>
        <a href="/auth/sign-in"class="button">Sign In</a>
      </div>
    </div>
    <% } %>
  </nav>