body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f7f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
color: #0A6EB4;
}

label {
display: block;
font-weight: bold;      
margin-bottom: 5px;
color: #666;
}

input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
}

button {
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: #274c9c;
  padding: 7px 15px;
  margin: 10px 0;
}

button:hover {
  background-color: rgb(6, 17, 88);
}


/* ================================================== */
.signup-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.signup-form-container-1 {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signup-form-container-2 {
  padding: 10px 30px 20px;
  border: 1px solid gray;
  background-color: #f9f7f0;
}

.signup-form-container-2 > h1 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

.signup-form-container-2 > form {
  display: flex;
  flex-direction: column;
}

.signup-img {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFIzBcqHh76FPprMfAar06nUQn-fzI86ucPQ&s');
  min-height: 90vh;
  background-size: contain ;
  background-repeat: no-repeat;
  width: 60%;
  position: relative;
  z-index: -10;
  right: -20px;
}