@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700');

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  background-color: purple ;

  background-size: contain;
}

.landing-header {
   display: flex;
   flex-direction: row;
   height: 15vh;
   width: 100vw;
   justify-content: space-between;
   align-items: baseline;
}

header h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.4rem;
  font-weight: 400;
}


nav {
  background-color: #8e4ec5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: 9%;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.75rem 1.5rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #f5f5f5;
}

nav a:active {
  background-color: #658aaf;
  color: #fff;
}

input {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
li {
  margin: 5px;
  padding: 0px 7px;
  border: 1px solid black;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(141, 190, 239);
  justify-content: center;
}
li > a {
  align-content: center;
}
li > a:hover{
  background-color: rgb(55, 87, 118);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 70px;
}

.card-container > a {
  padding: 12px 25px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px 30px 50px;
  color: black;
}

.card-container > a:hover {
  background-color: black;
  color: white;
}

.profile-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 70px;
}

.profile-card-container > a {
  padding: 8px 15px;
  width: 7em;
  height: 6em;
  border: 1px solid rgb(145, 75, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px 10px 20px;
  color: black;
}

.profile-card-container > a:hover {
  background-color: black;
  color: white;
}

.profile-card-container > a > h4 {
  font-size: 0.9em;
  text-align: center;
}

.profile-card-container > a > p {
  font-size: 0.8em;
}

.profile-container {
  background-color: #6373b6;
}

.button {
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #efaa4f;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.button:hover {
  background-color: #FF7F00;
}
#editB {
  background-color: #FF9100;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px 0;
  width: 15em;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#editB:hover {
  background-color: #FF7F00;
}


#edit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: calc(100% - 80px);
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
}
#delete {
  background-color: red;
  color: white;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 10px 0;
  width: 10em;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}