<!-- views/listings/new.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style-new.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Add a New Game</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="new-container">
      <div class="new-form-container">
        <h1>New Game</h1>
        <form action="/games" method="POST">

          <label for="game-name">GAME NAME:</label>
          <input type="text" name="gameName" id="game-name" />
          
          <label for="note">Note:</label>
          <textarea name="note" id="note"></textarea>
          
          <label for="status">Status:</label>
            <select id="status" name="status">
             <option value="Completed">Completed</option>
             <option value="Playing">Playing</option>
             <option value="Paused">Paused</option>
             <option value="Planing-to-play">Planing to play</option>
            </select>
          
          <button type="submit">Add Game</button>
        
        </form>

      </div>
    </div>
      <div class="new-img"></div>
  </body>
</html>